* {
    box-sizing: border-box;
    line-height: 24px;
    font-size: 1em;
}

body {
    width: 980px;
    margin: auto;
}

.title {
    font-size: 3em;
    line-height: 2em;
    margin: 2em 0 0 0;
    font-weight: 600;
}

.sub-title {
    margin: 36px 0 9px 0;
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
}

.description {
    margin: 24px 0 6px 0;
    line-height: 24px;
    font-size: 18px;
    padding: 0 0 0 12px;
}

.list {
    padding : 0 0 0 24px;
}

.h {
    display: inline;
    color: #A00;
    border-bottom: 1px solid #A00;
    font-weight: 600;
}
